{% include 'header.html' %}

{% with messages= get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<form id="formulario" method="post" action="/consg">

    <div class="card">
        <div class="card-header">
            Consulta G
        </div>
        <div class="card-body">
            <h5 class="card-title">Actualizar el correo de un cliente.</h5>
            <p class="card-text">
                Ingrese la id del cliente al que se le actualizara el correo
                <br/>
                <div class="form-group">
                    <label for="Customer">Ingresa la id del cliente </label>
                    <input id="Customer" class="form-control" type="text" name="Customer">
                </div>
                <br>
                <div class="form-group">
                    <label for="Email">Ingresa el nuevo email </label>
                    <input id="Email" class="form-control" type="email" name="Email" placeholder="name@example.com">
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="btn-cons">
                        Actualizar
                    </button>
                </div>
            </p>
        </div>
    </div>
</form>
{% include 'footer.html' %}