{% include 'header.html' %}
<form id="formulario" method="post" action="/consatrr">

    <div class="card">
        <div class="card-header">
            Consulta A
        </div>
        <div class="card-body">
            <h5 class="card-title">Ventas Totales</h5>
            <p class="card-text">
                
                <div class="form-group">
                    <label for="Categoria">Seleccione la Categoría: </label>
                    <select id="Categoria" name="Categoria">
                        {% for category in categories %}
                            <option  value={{category.id}}>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="btn-cons">
                        Buscar
                    </button>
                </div>

            </p>
        </div>
    </div>

</form>
<script></script>
<div id="tabla_a">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Territorio</th>
            <th scope="col">Ventas Totales</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.TerrName }}</th>
                    <td>{{ venta.VentasTotales }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}