{% include 'header.html' %}

{% with messages= get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<form id="formulario" method="post" action="/conse">

    <div class="card">
        <div class="card-header">
            Consulta E
        </div>
        <div class="card-body">
            <h5 class="card-title">Actualizar en Orden</h5>
            <p class="card-text">
                Seleccione la orden a la cual hará la modificación y el producto de la misma.
                <br>Posteriormente ingrese la cantidad a añadir de piezas de ese producto.
                <br/>
                <div class="form-group">
                    <label for="Orden">Ingresa el número de Orden </label>
                    <input id="Orden" class="form-control" type="text" name="Orden">
                </div>
                <br/>
                <div class="form-group">
                    <label for="Producto">Seleccione el Producto: </label>
                    <select id="Producto" name="Producto">
                        {% for product in products %}
                            <option  value={{product.id}}>{{product.id}}:{{product.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="Cantidad">Ingresa la cantidad</label>
                    <input id="Cantidad" class="form-control" type="text" name="Cantidad">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="btn-cons">
                        Actualizar
                    </button>
                </div>

            </p>
        </div>
    </div>

</form>
{% include 'footer.html' %}