<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
        <link rel="stylesheet" crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
            
            <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
            </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Práctica Fragmentación</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('consultas.consulta_a')}}">Consulta a</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('consultas.consulta_b')}}" >Consulta b</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('consultas.consulta_c')}}">Consulta c</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Consulta d</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('consultas.consulta_e')}}">Consulta e</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Consulta f</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Consulta g</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Consulta h</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Consulta i</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Consulta j</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class = "container">
        