{% include 'header.html' %}   
    <br/>

    <h2>Generando Conexión</h2>
    <form id="formulario" method="post" action="/listex">

        <div class="card">
            <div class="card-header">
                Escoge la instancia a utilizar
            </div>
            <div class="card-body">
                <h5 class="card-title">Instancias</h5>
                <p class="card-text">
                    
                    <div class="form-group">
                        <label for="Consulta">Seleccione la instancia</label>
                        <select id="Consulta" name="Consulta">
                            <option  value="01">Ventas</option>
                            <option  value="02">Producción</option>
                            <option  value="03">Otros</option>
                        </select>
                    </div>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            Iniciar Conexión
                        </button>
                    </div>

                </p>
            </div>
        </div>

    </form>
{% include 'footer.html' %}