{% include 'header.html' %}
    <h2>Product List</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Product</th>
            <th scope="col">List Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.lsprice }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}